outputs/**
outputsBak/**

credentials.json
token.json

dashboard/backend/__pycache__/**
dashboard/backend/venv/**
.todo_env/**

# Logs
dashboard/blogs
dashboard/b*.log
dashboard/bnpm-debug.log*
dashboard/byarn-debug.log*
dashboard/byarn-error.log*
dashboard/bpnpm-debug.log*
dashboard/blerna-debug.log*

dashboard/bnode_modules
dashboard/bdist
dashboard/bdist-ssr
dashboard/b*.local

# Editor directories and files
dashboard/b.vscode/*
dashboard/b!.vscode/extensions.json
dashboard/b.idea
dashboard/b.DS_Store
dashboard/b*.suo
dashboard/b*.ntvs*
dashboard/b*.njsproj
dashboard/b*.sln
dashboard/b*.sw?

dashboard/frontend/*.js
dashboard/frontend/*.json
dashboard/frontend/*.ts
dashboard/frontend/*.tsbuildinfo
dashboard/frontend/node_modules
dashboard/frontend/dist
dashboard/frontend/coverage
dashboard/frontend/.cache
dashboard/frontend/.svg
dashboard/frontend/.DS_Store
dashboard/frontend/public/*.svg
#dashboard/frontend/*.css
dashboard/frontend/src/assets/*.svg

*.log
*.pid

# Dashboard state
dashboard/frontend/dashboard-state.json

node_modules/**
test-results/
tests/coverage/
tests/reports/
coverage/
.nyc_output/
playwright-report/
test-results-*/